
{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<div align="center" style="background-color:aquamarine">
	<img src="static/img/perro.png" alt="Logotipo" width="50%" border="0">
</div>

<div align="right" style="background-color:aquamarine">
<img src="static/img/facebook.png" width="4%" height="4%">
<img src="static/img/google.png" width="4%" height="4%">
<img src="static/img/Instagram.png" width="4%" height="4%">
<img src="static/img/correo.png" width="4%" height="4%">
</div>

<div align="center">
    <br>
    <br>

    <h2>"Mis Perris" es una empresa que se dedica a acojer a los perros callejeros para darles un mejor </h2>
    <h2>cuidado y a la vez, para ayudarles a encontrarles dueños que se hagan responsable y puedan</h2>
    <h2>cuidar bien de ellos.</h2>
    <h2>De esta forma, combatimos el abandono de los perros callejeros, y que la gente tome mas responsabilidad.</h2>

    <br>
    <br>

</div>
        

{% endblock %}