{% extends 'base/base_cliente.html' %}
{% load staticfiles %}

{% block content %}
<div align="center" style="background-color:aquamarine">
	<img src="static/img/perrocallejero.jpg" alt="Logotipo" width="50%" border="0" style="margin: 20px;">
</div>

<div align="right" >
<img src="static/img/facebook.png" width="4%" height="4%">
<img src="static/img/google.png" width="4%" height="4%">
<img src="static/img/Instagram.png" width="4%" height="4%">
<img src="static/img/correo.png" width="4%" height="4%">
</div>

<div align="center">
	<h1>¿Deseas adoptar a un nuevo compañero?</h1>
    <h2>Como ya has entrado a tu cuenta, puedes ver a los perros que tenemos en</h2>
    <h2>adopcion, y si gustas podras adoptar a uno para darle un mejor hogar.</h2>
    <h2>Todos estos animales fueron encontrados en la calle y los tenemos en </h2>
    <h2>rehabilitacion ya que sufrieron mucho daño, ellos tambien son seres </h2>
    <h2>vivos como tu.</h2>

    <br>
    <br>

</div>
        

{% endblock %}